{% extends "home/header.html" %}

{% block content %}

<h4 class="padding-for-congrats">
  Thanks, {{ user.get_username }}. You have registered for tickets to
  {{event.name}}!
</h4>

<img class="indi_event_image" src="{{event.event_image}}">

<p>
  We'll be in contact to let you know whether you are successful via
  <b>{{ request.user.email }}</b> after ticket allocations have taken place.
</p>

{% endblock %}
