{% extends "home/header.html" %}

{% block content %}
	{% for event in object_list %}
		<div class="row small-up-1 medium-up-2 eventslist">
			<div class="column">
				<div><h4><a href="/event/{{event.id}}">{{ event.name }}</a></h4></div>
				<div><h5>Deadline: {{ event.deadline|date:"d-F-Y" }}</h5></div>
				<p>{{ event.description_of_event }}</p>
			</div>
			<div class="column"><img class="event_image" src="{{event.event_image}}"></div>
		</div>
	{% endfor %}
{% endblock %}