{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}
	<div class="indi-event">
	<div class="row small-up-1 medium-up-2">
		<div class="column">
		  <h3>{{ event.name }}</h3>
	      <h6> Deadline: {{ event.deadline|date:"d-F-Y" }} </h6>
	      <p>{{ event.description_of_event }}</p>

        {# make the user login if they aren't already #}
        {% if not user.is_authenticated %}

          <h5>
            Sorry, it looks like you haven't logged in. Please log in with
            Facebook to register interest to this event.
          </h5>
	        <a href="/accounts/facebook/login/?process=login">
            <img src="{% static 'home/img/fb.png' %}">
          </a>

        {# tell them whether they are registered. If not let them register! #}
        {% else %}

          {% if already_registered %}
          <h4>You're already registered for this event!</h4>
          <p>
            We'll be in touch after ticket allocations to let you know whether
            you were sucessful. Good luck!
          </p>
          {% else %}
            <form action="/event/{{event.id}}/adduser/" method="post">
              {% csrf_token %}
              <button class="button" type="submit" name="register"
                  value="register">
                Register Interest
              </button>
            </form>
          {% endif %}

	      {% endif %}

	      <h5>Ticket price: £{{ event.ticket_price }} </h5>
	      <h5><a href="{{ event.url_of_event }}">{{ event.url_of_event }}</a></h5>
	    </div>
		<div class="column">
			<div><img class="indi_event_image" src="{{event.event_image}}"></div>
		</div>
	</div>
	</div>

{% endblock %}
