<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tasclo</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="top-bar">
	  <div class="top-bar-left">
	  	<ul class="menu">
		  <li class="menu-text"><a href="/"><img class="logo" src="{% static 'home/img/tasclo-logo.png' %}"></a></li>
		  <li><a class="events-label" href="/event/">Events</a></li>
		</ul>
	  </div>
	  <div class="top-bar-right">

	    <ul class="menu">
	      {% if user.is_authenticated %}
	        <li class="logged_in">Hi {{ user.get_username }}</li>
	        <li>
		        <form method="post" action="/accounts/logout/">
		          {% csrf_token %}
		          <button class="button" type="submit">Logout</button>
		        </form>
	        </li>
	      {% endif %}
	      {% if not user.is_authenticated %}
	        <li><a href="/accounts/facebook/login/?process=login"><img src="{% static 'home/img/fb.png' %}"></a></li>
	      {% endif %}
	      <li><input type="search" placeholder="Search"></li>
	      <li><button type="button" class="button">Search</button></li>
	    </ul>
	  </div>
	</div>


    <div class="main-content">
    <!-- HERE WE DISPLAY EVENTS FROM OUR EVENT DATABASE -->
        {% block content %}
        {% endblock %}
    </div>
    
    <footer id="footer">
	    <div class="row small-up-1 medium-up-3 footer_cols">
		    <div class="column">
		    <hr>
		      	<div><img class="footer-logo" src="{% static 'home/img/tasclo-logo.png' %}"></div>
		      	<div class="moto">Ticket Allocation Service on the CLOud</div>
		    </div>
		    <div class="column moto">
			    <hr>
			    A COMSM0100 2016-2017 project. <br>
                Copyright 2016 Tasclo. All rights reserved.
		    </div>
		    <div class="column">
		    <hr>
	          Bringing you a fair chance to attend your favourite events. <br>
	          Please contact us at 
		          <a class="email" href="mailto:tasclo@gmail.com">tasclo@gmail.com</a>
	          <br>
		    </div>
		</div>
	</footer>


</body>


</html>