{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}
<div class="row small-up-1 medium-up-2 para">
<div class= "column">Welcome to Tasclo, giving you a fair chance to buy tickets to all the best events around! <br> Please checkout our <a class="events-text" href="/event/">Events</a>.</div>
<div class= "column">We use a unique algorithm hosted on the cloud in order to give you fair chance to buy tickets to all of the most over subsribed events.</div>
</div>

<div class="row small-up-1 medium-up-3 para">
<div class= "column"><img class="home-img" src="{% static 'home/img/glasto1a.jpg' %}"></div>
<div class= "column"><img class="home-img" src="{% static 'home/img/anfield.jpeg' %}"></div>
<div class= "column"><img class="home-img" src="{% static 'home/img/Kayne-x-Glastonbury.jpg' %}"></div>
</div>


<div class="row small-up-1 medium-up-2 para">
<div class= "column">Please login with Facebook to register interest in <a class="events-text" href="/event/">Events</a>.</div>
<div class= "column">This will allow you to register for the <a class="events-text" href="/event/">event</a> that you would like tickets to.</div>
</div>

{% endblock %}