.top-bar {
	background-color: #141414;
	color: white;
}

.top-bar, .top-bar ul {
    background-color: #141414;
}

.main-content {
    width: 100%;
    padding: 1rem;
    align-content: center;
}

#footer{
	background-color: #141414;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	color: white;
    position: absolute;
}

.footer_cols{
    padding-bottom: 6rem: 
    color: white;
}

.logo{
	height: 70px;
	width: auto;
}

.events-label{
	color: white;
}

.para {
	padding: 1rem 0.25rem 1rem 0.25rem;
}

.home-img {
	width: auto;
	height: 15rem;
	align-content: centre;
	padding: 1rem 0.25rem 1rem 0.25rem;
}

.column{
	align-content: center;
}

.logged_in{
	padding-right: 1rem;
}

.email{
	color: white;
}

.email:hover{
	color: white;
}

.footer-logo {
	height: 7rem;
	margin: auto;
	display: block;
}

.moto{
	text-align: center;
}

.event_image{
	height: 15rem;
	width: auto;
	padding: 1rem 0.25rem 1rem 0.25rem;
}

eventlist{
	padding: 1rem 0.25rem 1rem 0.25rem;
}

.indi-event{
	margin: auto;
	text-align: center;
}

.indi_event_image{
	height: 15rem;
	width: auto;
	padding: 0.25rem 0.25rem 1rem 0.25rem;
}

.congrats{
	background-color: #2199e8; 
	text-align: center;
	color: white;
}

padding-for-congrats{
	padding: 10px 10px 10px 10px;
}

.events-text{
	color: black;
}